body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.container {
  /* border: 2px solid #dedede; */
  background-color: #f7efef;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border: 2px solid #0508b3;
}

.darker {
  /* border-color: rgb(225, 219, 231); */
  background-color: rgb(235, 233, 245);
  text-align: right;
  border: 2px solid #660335;
  /* width: 50%; */
}

.container::after {
  content: '';
  clear: both;
  display: table;
}


.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.input-div > input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-top: 20px;
  border:1px solid #660335;
}

button {
  background-color: #660335;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.signout {
  width: 20%;
}
button:hover {
  background-color: #8f0349;

}

.chat_wrapper {
  padding: 20px;
  border:1px solid #660335;
  height: 600px;
  overflow: scroll;

}

.signIn {
  margin-top: 200px;
}
